{% extends "base.html" %}

{% block content %}
<div class="row py-2 my-2">
    <h1> BONDE BEBIDAS </h1>
    <div class="col-md-9">
        <h2>Listagem de produtos</h2>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-block" href="{% url 'cadastro' %}"><i class="fa fa-plus-circle"></i>
            Cadastrar produto
        </a>
        <a class="btn btn-primary btn-block" href="{% url 'vendas' %}"><i class="fa fa-minus-circle"></i>
            Saída de produto
        </a>
    </div>
    
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
            </tr>
        </thead>
        <tbody>
            {% for bebida in bebidas %} <!-- Alterado 'users' para 'bebidas' -->
            <tr>
                <td>{{ bebida.nome|capfirst }}</td> <!-- Alterado 'user.nome' para 'bebida.nome' -->
                <td>{{ bebida.quantidade }}</td> <!-- Alterado 'user.quantidade' para 'bebida.quantidade' -->
                <td>{{ bebida.preco_unitario }}</td> <!-- Alterado 'user.preco_unitario' para 'bebida.preco_unitario' -->
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="{% url 'modificar' bebida.pk %}" class="btn btn-warning"><i class='fa fa-edit'></i></a>
                        <a href="{% url 'deletar' bebida.pk %}" class="btn btn-danger delete-button" onclick="return confirm('Tem certeza que deseja excluir este produto?')"><i class='fa fa-trash-alt'></i></a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">
                    Não há produtos cadastrados
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Adicione este bloco para exibir a mensagem de sucesso -->
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% if messages %}
            {% for message in messages %}
                {{ message|safe }}<br>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}
    <!-- Botão para exportar dados para o BigQuery -->
    <a class="btn btn-success btn-block" href="{% url 'exportar_dados_bigquery' %}"><i class="fa fa-cloud-upload"></i>
        Exportar dados para BigQuery
    </a>
</div>
{% endblock %}
